img{
  width:50%;
}

a{
  font-size: 20px;
}

h1{
  color: #043845;
  font-weight: bold;
}

div>p{
  text-align: center;
  color: #043845;
}

#button_add{
  margin-top: 5%;
  margin-bottom: 5%;
}

span{
  font-size: 200px;
  color: #043845;
}

mat-card{
  text-align: center;
  width: 40%;
  background-color: #e1f9ff;
  margin-left: 30%;
  margin-top: 5%;
  border-radius: 2%;
}