<h1>
  {{ (mangac | async)?.nom }} - Chapitre : {{ (chapitrec | async)?.numero }}
</h1>

<h2>{{ (chapitrec | async)?.nom }}</h2>

<p>
  <img
    src="../../../../assets/img/chapitre/{{
      (chapitrec | async)?.pageCouverture
    }}"
  />
</p>

<div id="button">
  <button id="buttonUpdate" mat-button (click)="openDialogUpdate()">
    <span class="material-icons"> mode_edit </span> Modifier les informations
  </button>
  <button id="buttonDelete" mat-button (click)="delete(chapitreIdc)">
    <span class="material-icons"> delete </span> Supprimer le chapitre
  </button>
</div>

<!--
<div id="change">
  <div>
    <button mat-button>
      <span class="material-icons"> arrow_left </span>
    </button>
  </div>
  <div id="container_number_page">
    <p id="number_page">1</p>
  </div>
  <div>
    <button mat-button>
      <span class="material-icons"> arrow_right </span>
    </button>
  </div>
</div>
-->
